{% extends 'base.html.twig' %}

{% block title %}New UserBox{% endblock %}

{% block body %}
    <h1>Create new UserBox</h1>

    {{ include('user_box/_form.html.twig') }}

    <a href="{{ path('user_box_index') }}">back to list</a>
{% endblock %}
