{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

    <section>
        <div>
            <h2>DECOUVREZ<br>NOS BOXS</h2>
            <p class="sous-titre">Trois boxs à découvrir, avec des alcools exceptionnels</p>
        </div>

        <div class="carousel">
            {% for box in boxes %}
                    {{ box.title }}
                    {{ asset('images/' ~ box.Image()) }}
                <a id="decouvrir" href="{{ path('box_show', {'id': box.id}) }}">
                    <h3>Découvrir</h3>
                    <img src="https://image.flaticon.com/icons/svg/271/271226.svg" height="20px">
                </a>
            {% endfor %}

        </div>

    </section>

    <div>
        <h2>NOS DENIERES<br>BOXS</h2>
    </div>

{% endblock %}
