{% extends 'base.html.twig' %}

{% block title %}Hello BoxController!{% endblock %}

{% block body %}
        <main>
            <div class="titrepage">
                <a class="retour" href="index.html"><img src="https://image.flaticon.com/icons/svg/271/271226.svg" height="20px"></a>
                <h3>Box découverte</h3>
            </div>
            
            <div class="thumbnail">
                <img class="thumbnailimg" src="https://www.papstar-shop.fr/papstar/prodpic/Carton-pour-bouteilles-de-vin-37-5-cm-x-25-cm-x-9-cm-bleu-Pour-3-bouteilles-10227_b_0.JPG">
                <p class="thumbnailtitle">Titre de l'article</p>
            </div>
            
            <div class="description">
                <h3>Description</h3>
                <p>Ideo urbs venerabilis post superbas efferatarum gentium cervices oppressas latasque leges fundamenta libertatis et retinacula sempiterna velut frugi parens et prudens et dives Caesaribus tamquam liberis suis regenda patrimonii iura permisit.</p>
            </div>
            
        </main>

{% endblock %}