/* ---------- GENERAL ---------- */
html {
  background-color: #e6e6e6;
  font-family: 'Poppins', sans-serif;
}

body {
  position: relative;
  background-color: #fff;
  max-width: 480px;
  min-height: 700px;
  width: 100%;
  margin: 20px auto;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.75);
  border-radius: 4px;
}

.underline {
  position: relative;
}
.underline::after {
  position: absolute;
  display: block;
  bottom: 11px;
  left: -4px;
  height: 4px;
  width: 100px;
  background-color: #ffca00;
  border-radius: 2px;
  content: '';
}

section {
  margin-bottom: 30px;
}
section:last-child{
  margin-bottom: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}
/* ---------- HEADER ---------- */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 76px;
  padding: 0 36px;
}
#logo {
  display: block;
  font-size: 0;
  height: 76px;
  width: 76px;
  background-image: url(https://zupimages.net/up/19/18/akn2.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

#pannier {
  margin-right: 10px;
  font-size: 0;
  height: 76px;
  width: 30px;
  background-image: url(https://image.flaticon.com/icons/svg/1651/1651857.svg);
  background-size: 30px;;
  background-repeat: no-repeat;
  background-position: center;
}
#pannier:hover {
  background-color: #ffca00;
  margin-top: 21px;
  height: 34px;
  width: 34px;
}

#menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* ---------- MAIN ---------- */
main {
  margin: 30px 0;
}
main div {
  margin: 0 36px;
}
h2 {
  z-index: 1;
  position: relative;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  margin: 0 0 20px;
}
h2::before {
  z-index: -1;
  position: absolute;
  display: block;
  top: 18px;
  left: -2px;
  height: 12px;
  width: 190px;
  background-color: #ffca00;
  border-radius: 6px;
  content: '';
}
h2::after {
  z-index: -1;
  position: absolute;
  display: block;
  bottom: 5px;
  left: -2px;
  height: 12px;
  width: 160px;
  background-color: #ffca00;
  border-radius: 6px;
  content: '';
}
.sous-titre {
  font-size: 15px;
  font-weight: 500;
}

.carousel {
  display: flex;
  margin: 20px 0;
  padding-bottom: 10px;
  overflow-x: scroll;
}

.carousel:hover {
  cursor: move;
}

::-webkit-scrollbar {
  display: none;
}

.boxdecouverte {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: 300px;
  margin: 0;
  padding: 0 10px;
}

.titredecouverte {
  text-align: center;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.imagebox {
  height: 200px;
  width: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.decouvrir {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  background-color: #ffffff;
  height: 30px;
}

.decouvrir p {
  position: relative;
  margin: 0;
  color: #000000;
}
.decouvrir p::after {
  position: absolute;
  display: block;
  top: 25px;
  left: -2px;
  height: 4px;
  width: 50px;
  background-color: #ffca00;
  border-radius: 2px;
  content: '';
}
.decouvrir img {
  margin: auto;
  margin-left: 10px;
}

#sectionlastbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#sectionlastbox :nth-child(2n+1) {
  margin-right: 20px;
}

.lastbox {
  display: flex;
  flex-direction: column;
  width: calc(50% - 10px);
  height: auto;
  margin-bottom: 20px;
}

.lastbox img {
  background-color: #ffca00;
  width: 100%;
  height: 150px;
}

.lastbox p {
  text-align: center;
}
/* --- formulaire login ---*/

#formlogin {
  display: flex;
  flex-direction:column;
  justify-content: center;
  margin: 0 36px;
  padding: 10px;
  background-color: #ffca00;
}

#formlogin input {
  margin: 0 0 20px;
  height: 30px;
  padding-left: 10px;
}

#formlogin button {
  display: block;
  margin: 10px auto;
  height: 30px;
  width: 100px;
  border: none;
  background-color: #ffffff;
  font-weight: bold;
  font-size: 16px;
}

/* --- User Show --- */
.table {
  overflow-x: scroll;
}
th,td {
  padding: 10px;
}
.container_table {
  width: 100%;
  overflow-x: scroll;
  margin: 0 0 20px;

}
.title_table {
  background-color: #ffca00;
}
tr {
  padding: 5px;
}

#newuser {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  height: 30px;
  width: 200px;
  background-color: #ffca00;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
}

/* ---------- FOOTER ---------- */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  border-radius: 0 0 4px 4px;
}
footer ul {
  margin: 0;
  padding: 0;
}
footer li {
  list-style: none;
  text-align: center;
  padding: 15px 0;
}
footer li a{
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

#newsletter {
  display: inline-block;
  padding: 15px 0;
  margin: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}